.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background-color: #262626;

}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
